In [14]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [15]:
data = pd.read_csv("Toyoto_Corrola.csv",index_col=0)
data.describe()

,Price,Age_08_04,KM,HP,Doors,Cylinders,Gears,Weight
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.0,1436.000000,1436.00000
mean,10730.824513,55.947075,68533.259749,101.502089,4.033426,4.0,5.026462,1072.45961
std,3626.964585,18.599988,37506.448872,14.981080,0.952677,0.0,0.188510,52.64112
min,4350.000000,1.000000,1.000000,69.000000,2.000000,4.0,3.000000,1000.00000
25%,8450.000000,44.000000,43000.000000,90.000000,3.000000,4.0,5.000000,1040.00000
50%,9900.000000,61.000000,63389.500000,110.000000,4.000000,4.0,5.000000,1070.00000
75%,11950.000000,70.000000,87020.750000,110.000000,5.000000,4.0,5.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,5.000000,4.0,6.000000,1615.00000

In [16]:
data.columns

Index(['Model', 'Price', 'Age_08_04', 'KM', 'HP', 'Doors', 'Cylinders',
       'Gears', 'Weight'],
      dtype='object')

In [68]:
x = data[['Age_08_04', 'KM', 'HP', 'Doors', 'Cylinders',
       'Gears', 'Weight']]

In [69]:
x.head()

    Age_08_04     KM  HP  Doors  Cylinders  Gears  Weight
Id
1          23  46986  90      3          4      5    1165
2          23  72937  90      3          4      5    1165
3          24  41711  90      3          4      5    1165
4          26  48000  90      3          4      5    1165
5          30  38500  90      3          4      5    1170

In [70]:
y = data[['Price']]
y.head()

    Price
Id
1   13500
2   13750
3   13950
4   14950
5   13750

In [71]:
import sklearn as sk  
from sklearn.model_selection import  train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [72]:
print(x_train.shape)
print(x_test.shape)
print()
print(y_train.shape)
print(y_test.shape)

(1148, 7)
(288, 7)

(1148, 1)
(288, 1)

In [73]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [74]:
lm.fit(x_train,y_train)

LinearRegression()

In [75]:
print("cofiecient is",  lm.coef_)
print()
print("intercept is",  lm.intercept_)

cofiecient is [[-1.21552286e+02 -2.01237829e-02  2.55958265e+01 -3.51084412e+01
   4.26325641e-13  6.38501731e+02  1.85967005e+01]]

intercept is [-6691.4982782]

In [76]:
y_pred = lm.predict(x_test)
y_pred

array([[10307.91239709],
       [10174.6438101 ],
       [ 7325.49565637],
       [16419.92679409],
       [11583.15388957],
       [ 9208.1171208 ],
       [ 6126.18466701],
       [15585.03285093],
       [10470.52845546],
       [ 9196.12881674],
       [21056.32195168],
       [ 8142.74323578],
       [ 9993.29370738],
       [19492.60842369],
       [15190.92576436],
       [13735.35371607],
       [ 9400.6205231 ],
       [ 7966.03811188],
       [11047.47492861],
       [ 6394.41551871],
       [ 9447.77299131],
       [13285.254496  ],
       [20313.7540578 ],
       [ 8262.84274887],
       [ 9614.76461354],
       [ 8916.54462059],
       [10267.79474578],
       [12477.70951876],
       [13795.12739636],
       [16128.12021314],
       [13176.97665778],
       [13289.36563518],
       [10153.12479314],
       [ 7901.42424507],
       [ 9465.87724216],
       [11573.05315802],
       [ 9163.55072645],
       [12189.51068194],
       [18628.41261231],
       [19453.98624672],
       [ 7848.70769817],
       [11518.15168019],
       [ 8560.44662709],
       [ 4751.4301197 ],
       [ 8727.09414484],
       [11252.39840464],
       [11499.86459611],
       [11506.18575124],
       [ 8743.49638154],
       [10366.7881791 ],
       [ 8685.29133429],
       [14573.06481185],
       [11848.71354023],
       [16623.2268534 ],
       [ 8122.44885973],
       [ 7112.94764224],
       [ 8726.12266802],
       [11139.10564284],
       [ 6732.38803327],
       [ 8015.12633026],
       [16164.68758019],
       [12869.39023653],
       [16517.16162018],
       [ 8118.58723516],
       [11084.3130533 ],
       [12175.1902637 ],
       [ 7846.55610965],
       [19177.51965174],
       [ 9817.07478142],
       [ 8591.68775447],
       [ 7417.72452716],
       [10424.20931226],
       [ 7401.18510087],
       [ 7939.38266092],
       [11338.65911933],
       [11083.72253226],
       [ 9446.70266463],
       [13419.72907461],
       [13653.50339774],
       [11197.28745482],
       [17847.42649642],
       [ 9614.22308536],
       [ 9448.27997435],
       [ 9970.47566441],
       [10004.15125172],
       [ 9892.49861659],
       [ 8733.13626948],
       [10903.71092374],
       [18763.04535762],
       [16607.82752193],
       [10872.44602619],
       [11987.38810201],
       [ 8526.0711046 ],
       [10564.70466818],
       [13163.39655485],
       [ 8413.13334397],
       [10707.83846294],
       [ 7915.17603736],
       [17148.3501994 ],
       [ 9597.00687558],
       [17075.18303365],
       [11951.50800747],
       [10027.92475084],
       [ 6968.65854502],
       [ 9510.30626086],
       [ 9874.16793981],
       [ 8327.54534851],
       [16233.09947031],
       [26250.99648778],
       [10847.86869943],
       [20433.92707825],
       [ 7701.7824623 ],
       [10255.78399467],
       [10521.64287059],
       [12775.6467625 ],
       [ 7871.61550844],
       [11824.3971035 ],
       [12570.09176116],
       [13909.08216789],
       [ 9525.5984187 ],
       [ 8152.76330603],
       [ 7626.88209213],
       [ 7410.00068945],
       [12652.30723266],
       [10044.26030133],
       [ 8670.39572844],
       [12912.40850707],
       [13910.62716705],
       [10697.81058803],
       [10163.93643838],
       [ 6799.60017999],
       [ 9380.70364441],
       [13221.48516161],
       [ 8321.09993311],
       [13217.88987561],
       [ 7842.23478537],
       [16638.98068566],
       [ 6133.27079317],
       [ 7647.03063637],
       [ 6273.66595712],
       [10272.03158891],
       [ 8765.63778852],
       [ 7246.39614823],
       [14483.88286193],
       [ 7234.00735906],
       [16967.54229989],
       [10590.03120686],
       [11014.02241936],
       [ 9394.00742851],
       [11835.59573148],
       [18143.33503609],
       [12953.66226207],
       [ 8303.03937553],
       [ 8925.10348629],
       [ 6825.79272749],
       [ 9326.54976797],
       [10834.27198657],
       [17485.98786884],
       [ 6301.91061032],
       [10304.91435952],
       [10965.07307864],
       [ 7798.35684643],
       [ 8946.71414185],
       [14497.39938805],
       [10701.31844068],
       [10031.6103093 ],
       [18899.69048121],
       [ 8780.48471561],
       [15715.66748868],
       [ 6399.53854241],
       [22603.10990137],
       [ 8816.11063296],
       [19025.62113446],
       [ 9660.82245513],
       [16169.78916941],
       [13239.35497072],
       [15878.71225875],
       [11677.2989911 ],
       [16171.90956479],
       [17490.41839627],
       [18961.50073317],
       [14208.8553134 ],
       [11579.33492558],
       [13439.95425304],
       [ 9304.21700646],
       [ 7412.51891888],
       [ 8593.9007636 ],
       [ 7717.8814322 ],
       [16778.01245353],
       [10337.00664644],
       [ 7119.69815276],
       [11537.29121171],
       [11433.14448465],
       [11363.07174885],
       [ 8847.22232508],
       [ 7728.73591555],
       [ 9035.22477929],
       [ 9100.48679725],
       [ 6699.80268385],
       [10336.42662994],
       [ 8677.22859601],
       [ 8129.06293283],
       [11330.83445861],
       [ 8904.06694103],
       [ 9225.54478607],
       [ 8816.51451626],
       [10751.81661022],
       [10754.87845729],
       [ 7818.63996337],
       [ 7723.46076392],
       [15191.87641753],
       [13251.3022866 ],
       [12377.25385004],
       [12556.56158922],
       [ 7816.89586302],
       [16435.96544908],
       [10048.91467332],
       [ 7775.01900016],
       [ 9767.87360258],
       [ 7595.64722447],
       [ 7699.11782881],
       [10877.61965236],
       [ 6563.51978835],
       [ 6353.40579718],
       [ 7512.67781007],
       [15613.62757029],
       [ 7824.15152965],
       [ 6738.03797683],
       [ 9884.70486934],
       [17603.66778503],
       [ 9422.4060101 ],
       [ 6998.72505035],
       [ 5880.30344545],
       [16337.91034297],
       [18287.70769233],
       [ 8881.84662807],
       [ 8132.31935654],
       [10604.4618764 ],
       [ 6673.39100559],
       [ 9218.73222461],
       [13517.34797193],
       [10822.52230835],
       [ 9955.47954562],
       [ 4735.97380449],
       [ 5671.49182527],
       [12823.59761549],
       [ 9597.35825496],
       [ 7852.64987016],
       [ 9339.72463461],
       [11545.36090942],
       [15166.12416068],
       [10940.28410397],
       [ 8837.61927414],
       [ 8566.46044411],
       [ 8060.26976218],
       [ 7425.95609283],
       [10370.08561126],
       [ 9611.91428491],
       [ 9581.21930477],
       [16990.22479519],
       [10847.97628274],
       [19365.59556937],
       [ 8949.87680567],
       [17055.21688996],
       [18343.69289596],
       [18945.46446339],
       [ 7114.14822698],
       [14935.4622969 ],
       [11019.54027765],
       [ 7328.6840158 ],
       [19016.39660994],
       [11043.16487847],
       [12552.02095374],
       [ 9862.93772913],
       [ 9163.49832794],
       [ 7900.62284737],
       [ 8187.99502166],
       [ 7778.9611828 ],
       [10859.70303406],
       [13330.2370383 ],
       [12871.59538584],
       [10335.36389732],
       [ 8258.4259746 ],
       [13264.97097274],
       [12855.39658662],
       [18241.34853929],
       [ 7960.69054529],
       [ 9471.70229049]])

In [77]:
new_data=pd.DataFrame()
new_data= x_test
new_data['Price'] = y_test
new_data['Actual Price'] = y_pred
new_data

,Age_08_04,KM,HP,Doors,Cylinders,Gears,Weight,Price,Actual Price
Id,,,,,,,,,
475,52,65170,97,3,4,5,1025,9950,10307.912397
405,56,113997,72,5,4,5,1135,5150,10174.643810
1195,71,90370,86,5,4,5,1035,7950,7325.495656
133,20,29797,97,5,4,5,1110,15950,16419.926794
209,43,85017,97,5,4,5,1060,10950,11583.153890
...,...,...,...,...,...,...,...,...,...
247,39,56001,110,5,4,5,1075,13500,13264.970973
504,47,57500,110,4,4,5,1105,11950,12855.396587
182,7,2000,110,5,4,5,1075,18500,18241.348539
610,59,190900,72,3,4,5,1115,7500,7960.690545
783,66,76791,110,5,4,5,1070,8900,9471.702290

In [78]:
lm.score(x_train,y_train)*100

85.65440467021126